* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.landingPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.landingPageContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
  gap: 20px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 20px;
  width: 50vw;
  height: 90vh;
  text-align: start;
}
.landingPageContent > h1 {
  font-size: 3em;
  font-weight: 600;
  color: #000;
  padding-top: 40px;
  margin-bottom: 24px;
  line-height: 50px;
}
.landingPageContent > p {
  color: #000;
  font-size: 20px;
  margin-bottom: 35px;
}
.landingPageImage {
  width: 100vw;
  /* height: 100vh; */
}
.landingPageImage > img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.carouselOne {
  background-image: url(../../assets/banner-new.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.carouselTwo {
  background-image: url(../../assets/secondBannerCarousel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.compareSliderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 82px;
  justify-content: center;
}
.reactCompareSlider {
  width: 33em;
  height: 25em;
  border-radius: 10px;
}
.landingPageContent > button {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 400;
  border: none;
  color: rgb(100, 214, 207);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.landingPageContent > button:hover {
  background-color: rgb(100, 214, 207);
  color: #000;
}

@media (max-width: 769px) {
  .landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .carouselOne {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .landingPageContent {
    padding: 20px;
    width: 100%;
    height: 100%;
  }
}
