.container {
  margin: 30px;
}
.cardButton {
  cursor: pointer;
  background-color: #000;
  font-weight: 400;
  font-size: 1.1em;
  border: none;
  color: rgb(100, 214, 207);
  margin-left: 7px;
  padding: 7px 20px;
  border-radius: 5px;
}

.cardButton:hover {
  background-color: rgb(100, 214, 207);
  color: #000;
  transition: 0.3s ease-in-out;
}
