.loginPage {
  width: 100vw;
  /* height: 120vh; */
  background: rgb(100, 214, 207);
  background: linear-gradient(
    59deg,
    rgba(100, 214, 207, 1) 0%,
    rgba(242, 212, 159, 1) 100%
  );
}
.contentContainer {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentContainer > h1 {
  font-weight: 700;
  margin-bottom: 25px;
  color: #000;
  line-height: 70px;
  font-size: 4rem;
  text-align: center;
  font-family: sans-serif;
}
.contentContainer > p {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 25px;
}
.contentContainer > button {
  cursor: pointer;
  background-color: #e5e7eb;
  border: none;
  width: 260px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}
.signInText > p {
  font-size: 16px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
}


@media (max-width: 768px) {
  .contentContainer {
    text-align: center;
    padding: 50px 30px;
  }
  .contentContainer > h1 {
    font-size: 2.5em;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
 .contentContainer > p {
    font-size: 1em;
    text-align: center;
  }
}
